@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext);

html, body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
}

body {
    font-family: Roboto !important;
    /*padding-top: 40px;
    padding-bottom: 40px;*/
    background-color: #eee;
    font-size: 14px;
}

#particles-js{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h3{
    color: #444154;
    margin-top: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 18px;
}
h3 strong{
    font-weight: 400;
}
p{
    font-size: 13px;
    font-weight: 400;
}
p strong{
    font-weight: 500;
}
button{
    transition: all 0.3s ease;
    cursor: pointer;
}

.navigation{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 1;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
}
.xenium-logo{
    height: 40px;
}
.navigation ul{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation ul li{
    float: left;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 20px;
    font-weight: 300;
}

.title-signin{
    display: block;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -220px;
    text-align: center;
    /*color: #3f74aa !important;*/
    color: #444154 !important;
    font-weight: 200;
    font-size: 32px;
    z-index: 1;
}

.form-signin {
    width: 550px;
    max-width: 550px;
    padding: 40px 30px;
    /*margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -150px;
    background: rgba(255,255,255,.8);
    z-index: 1;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.05);
}
/*.form-signin .form-signin-heading,*/
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
    border: 1px solid #dcdae5;
    font-size: 14px !important;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .social-login{
    display: block;
    width: 100%;
    height: 46px;
    padding: 12px;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.form-signin .social-login:first-child{
    margin-top: 0;
}
.form-signin .social-login:hover, .form-signin .social-login:focus, .form-signin .social-login:visited{
    text-decoration: none;
    color: #fff;
}
.form-signin .social-login i{
    display: inline-block;
    width: 20px;
    text-align: center;
}
.form-signin .social-login span{
    margin-left: 10px;
    padding-left: 18px;
    border-left: rgba(0,0,0,.2) 1px solid;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 14px;
}
.form-signin #facebook-login{
    background: #507bbf;
}
.form-signin #facebook-login:hover{
    background: #3d5d90;
}
.form-signin #google-login{
    background: #df4931;
}
.form-signin #google-login:hover{
    background: #a73725;
}
.form-signin #twitter-login{
    background: #65cdf2;
}
.form-signin #twitter-login:hover{
    background: #4c9ab5;
}
.form-signin #linkedin-login{
    background: #0077b5;
}
.form-signin #linkedin-login:hover{
    background: #005988;
}
.separator-holder{
    position: relative;
    height: 214px;
}
.form-signin .separator{
    width: 50%;
    height: 214px;
    border-right: 1px solid #dcdae5;
}
.form-signin .or{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dcdae5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: #dcdae5;
}
.container{
    height: 100%;
}
.login-form-container{
    position: relative;
}
.login-form-container .btn-login{
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -20px;
    height: 40px;
    width: 40px !important;
    line-height: 40px;
    border-radius: 50%;
    z-index: 100;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
}
.col-md-5 p:last-child{
    margin-bottom: 0;
}
.modal-backdrop{
    background-color: #fff;
}
.modal-open .navigation, .modal-open .container{
    filter: blur(2px);
}
.modal-dialog{
    margin-top: 10%;
}
.modal-content{
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.10);
}
.registration-info{
    color: #444154;
}
.registration-info > div{
    border-left: 1px solid #eceeef;
    padding-left: 30px;
    height: 100%;
}
.registration-info h6{
    font-weight: 300;
}
.registration-info ul{
    font-size: 13px;
    color: #636c72!important;
}
.registration-info ul
{
	list-style-type: none;
}

.registration-info ul li
{
	text-indent: -1.4em;
    /*text-indent: 30px;*/
}
.registration-info li:before {
    font-family: 'FontAwesome';
    /*content: '\f067';*/
    content: '\f00c';
    /*margin: 0 10px 0 -8px;*/
    margin: 0 12px 0 -10px;
    /*width: 1.4em;*/
    width: 30px;
    /*color: #f00;*/
}
.modal-title{
    font-weight: 300;
}
.registration-checkboxes{
    margin-top: 15px;
}
*:focus{
    outline: none !important;
}
