@charset "UTF-8";

@font-face {
  font-family: "linea-icons";
  src:url("fonts/linea-icons.eot");
  src:url("fonts/linea-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-icons.woff") format("woff"),
    url("fonts/linea-icons.ttf") format("truetype"),
    url("fonts/linea-icons.svg#linea-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linea-arrows-10:before {
  content: "\61";
}
.icon-linea-arrows-10-1:before {
  content: "\62";
}
.icon-linea-arrows-10-2:before {
  content: "\63";
}
.icon-linea-arrows-10-3:before {
  content: "\64";
}
.icon-linea-arrows-10-4:before {
  content: "\65";
}
.icon-linea-arrows-10-5:before {
  content: "\66";
}
.icon-linea-arrows-10-6:before {
  content: "\67";
}
.icon-linea-arrows-10-7:before {
  content: "\68";
}
.icon-linea-arrows-10-8:before {
  content: "\69";
}
.icon-linea-arrows-10-9:before {
  content: "\6a";
}
.icon-linea-arrows-10-10:before {
  content: "\6b";
}
.icon-linea-arrows-10-11:before {
  content: "\6c";
}
.icon-linea-arrows-10-12:before {
  content: "\6d";
}
.icon-linea-arrows-10-13:before {
  content: "\6e";
}
.icon-linea-arrows-10-14:before {
  content: "\6f";
}
.icon-linea-arrows-10-15:before {
  content: "\70";
}
.icon-linea-arrows-10-16:before {
  content: "\71";
}
.icon-linea-arrows-10-17:before {
  content: "\72";
}
.icon-linea-arrows-10-18:before {
  content: "\73";
}
.icon-linea-arrows-10-19:before {
  content: "\74";
}
.icon-linea-arrows-10-20:before {
  content: "\75";
}
.icon-linea-arrows-10-21:before {
  content: "\76";
}
.icon-linea-arrows-10-22:before {
  content: "\77";
}
.icon-linea-arrows-10-23:before {
  content: "\78";
}
.icon-linea-arrows-10-24:before {
  content: "\79";
}
.icon-linea-arrows-10-25:before {
  content: "\7a";
}
.icon-linea-arrows-10-26:before {
  content: "\41";
}
.icon-linea-arrows-10-27:before {
  content: "\42";
}
.icon-linea-arrows-10-28:before {
  content: "\43";
}
.icon-linea-arrows-10-29:before {
  content: "\44";
}
.icon-linea-arrows-10-30:before {
  content: "\45";
}
.icon-linea-arrows-10-31:before {
  content: "\46";
}
.icon-linea-arrows-10-32:before {
  content: "\47";
}
.icon-linea-arrows-10-33:before {
  content: "\48";
}
.icon-linea-arrows-10-34:before {
  content: "\49";
}
.icon-linea-arrows-10-35:before {
  content: "\4a";
}
.icon-linea-arrows-10-36:before {
  content: "\4b";
}
.icon-linea-arrows-10-37:before {
  content: "\4c";
}
.icon-linea-arrows-10-38:before {
  content: "\4d";
}
.icon-linea-arrows-10-39:before {
  content: "\4e";
}
.icon-linea-arrows-10-40:before {
  content: "\4f";
}
.icon-linea-arrows-10-41:before {
  content: "\50";
}
.icon-linea-arrows-10-42:before {
  content: "\51";
}
.icon-linea-arrows-10-43:before {
  content: "\52";
}
.icon-linea-arrows-10-44:before {
  content: "\53";
}
.icon-linea-arrows-10-45:before {
  content: "\54";
}
.icon-linea-arrows-10-46:before {
  content: "\55";
}
.icon-linea-arrows-10-47:before {
  content: "\56";
}
.icon-linea-arrows-10-48:before {
  content: "\57";
}
.icon-linea-arrows-10-49:before {
  content: "\58";
}
.icon-linea-arrows-10-50:before {
  content: "\59";
}
.icon-linea-arrows-10-51:before {
  content: "\5a";
}
.icon-linea-arrows-10-52:before {
  content: "\30";
}
.icon-linea-arrows-10-53:before {
  content: "\31";
}
.icon-linea-arrows-10-54:before {
  content: "\32";
}
.icon-linea-arrows-10-55:before {
  content: "\33";
}
.icon-linea-arrows-10-56:before {
  content: "\34";
}
.icon-linea-arrows-10-57:before {
  content: "\35";
}
.icon-linea-arrows-10-58:before {
  content: "\36";
}
.icon-linea-arrows-10-59:before {
  content: "\37";
}
.icon-linea-arrows-10-60:before {
  content: "\38";
}
.icon-linea-arrows-10-61:before {
  content: "\39";
}
.icon-linea-arrows-10-62:before {
  content: "\21";
}
.icon-linea-arrows-10-63:before {
  content: "\22";
}
.icon-linea-arrows-10-64:before {
  content: "\23";
}
.icon-linea-arrows-10-65:before {
  content: "\24";
}
.icon-linea-arrows-10-66:before {
  content: "\25";
}
.icon-linea-arrows-10-67:before {
  content: "\26";
}
.icon-linea-arrows-10-68:before {
  content: "\27";
}
.icon-linea-arrows-10-69:before {
  content: "\28";
}
.icon-linea-arrows-10-70:before {
  content: "\29";
}
.icon-linea-arrows-10-71:before {
  content: "\2a";
}
.icon-linea-arrows-10-72:before {
  content: "\2b";
}
.icon-linea-arrows-10-73:before {
  content: "\2c";
}
.icon-linea-arrows-10-74:before {
  content: "\2d";
}
.icon-linea-arrows-10-75:before {
  content: "\2e";
}
.icon-linea-arrows-10-76:before {
  content: "\2f";
}
.icon-linea-arrows-10-77:before {
  content: "\3a";
}
.icon-linea-arrows-10-78:before {
  content: "\3b";
}
.icon-linea-arrows-10-79:before {
  content: "\3c";
}
.icon-linea-arrows-10-80:before {
  content: "\3d";
}
.icon-linea-arrows-10-81:before {
  content: "\3e";
}
.icon-linea-arrows-10-82:before {
  content: "\3f";
}
.icon-linea-arrows-10-83:before {
  content: "\40";
}
.icon-linea-arrows-10-84:before {
  content: "\5b";
}
.icon-linea-arrows-10-85:before {
  content: "\5d";
}
.icon-linea-arrows-10-86:before {
  content: "\5e";
}
.icon-linea-arrows-10-87:before {
  content: "\5f";
}
.icon-linea-arrows-10-88:before {
  content: "\60";
}
.icon-linea-arrows-10-89:before {
  content: "\7b";
}
.icon-linea-arrows-10-90:before {
  content: "\7c";
}
.icon-linea-arrows-10-91:before {
  content: "\7d";
}
.icon-linea-arrows-10-92:before {
  content: "\7e";
}
.icon-linea-arrows-10-93:before {
  content: "\5c";
}
.icon-linea-arrows-10-94:before {
  content: "\e000";
}
.icon-linea-arrows-10-95:before {
  content: "\e001";
}
.icon-linea-arrows-10-96:before {
  content: "\e002";
}
.icon-linea-arrows-10-97:before {
  content: "\e003";
}
.icon-linea-arrows-10-98:before {
  content: "\e004";
}
.icon-linea-arrows-10-99:before {
  content: "\e005";
}
.icon-linea-arrows-10-100:before {
  content: "\e006";
}
.icon-linea-arrows-10-101:before {
  content: "\e007";
}
.icon-linea-arrows-10-102:before {
  content: "\e008";
}
.icon-linea-arrows-10-103:before {
  content: "\e009";
}
.icon-linea-arrows-10-104:before {
  content: "\e00a";
}
.icon-linea-arrows-10-105:before {
  content: "\e00b";
}
.icon-linea-arrows-10-106:before {
  content: "\e00c";
}
.icon-linea-arrows-10-107:before {
  content: "\e00d";
}
.icon-linea-arrows-10-108:before {
  content: "\e00e";
}
.icon-linea-arrows-10-109:before {
  content: "\e00f";
}
.icon-linea-arrows-10-110:before {
  content: "\e010";
}
.icon-linea-arrows-10-111:before {
  content: "\e011";
}
.icon-linea-arrows-10-112:before {
  content: "\e012";
}
.icon-linea-arrows-10-113:before {
  content: "\e013";
}
.icon-linea-arrows-10-114:before {
  content: "\e014";
}
.icon-linea-arrows-10-115:before {
  content: "\e015";
}
.icon-linea-arrows-10-116:before {
  content: "\e016";
}
.icon-linea-arrows-10-117:before {
  content: "\e017";
}
.icon-linea-arrows-10-118:before {
  content: "\e018";
}
.icon-linea-arrows-10-119:before {
  content: "\e019";
}
.icon-linea-arrows-10-120:before {
  content: "\e01a";
}
.icon-linea-arrows-10-121:before {
  content: "\e01b";
}
.icon-linea-arrows-10-122:before {
  content: "\e01c";
}
.icon-linea-arrows-10-123:before {
  content: "\e01d";
}
.icon-linea-arrows-10-124:before {
  content: "\e01e";
}
.icon-linea-arrows-10-125:before {
  content: "\e01f";
}
.icon-linea-arrows-10-126:before {
  content: "\e020";
}
.icon-linea-arrows-10-127:before {
  content: "\e021";
}
.icon-linea-arrows-10-128:before {
  content: "\e022";
}
.icon-linea-arrows-10-129:before {
  content: "\e023";
}
.icon-linea-arrows-10-130:before {
  content: "\e024";
}
.icon-linea-arrows-10-131:before {
  content: "\e025";
}
.icon-linea-arrows-10-132:before {
  content: "\e026";
}
.icon-linea-arrows-10-133:before {
  content: "\e027";
}
.icon-linea-arrows-10-134:before {
  content: "\e028";
}
.icon-linea-arrows-10-135:before {
  content: "\e029";
}
.icon-linea-basic-10:before {
  content: "\e02a";
}
.icon-linea-basic-10-1:before {
  content: "\e02b";
}
.icon-linea-basic-10-2:before {
  content: "\e02c";
}
.icon-linea-basic-10-3:before {
  content: "\e02d";
}
.icon-linea-basic-10-4:before {
  content: "\e02e";
}
.icon-linea-basic-10-5:before {
  content: "\e02f";
}
.icon-linea-basic-10-6:before {
  content: "\e030";
}
.icon-linea-basic-10-7:before {
  content: "\e031";
}
.icon-linea-basic-10-8:before {
  content: "\e032";
}
.icon-linea-basic-10-9:before {
  content: "\e033";
}
.icon-linea-basic-10-10:before {
  content: "\e034";
}
.icon-linea-basic-10-11:before {
  content: "\e035";
}
.icon-linea-basic-10-12:before {
  content: "\e036";
}
.icon-linea-basic-10-13:before {
  content: "\e037";
}
.icon-linea-basic-10-14:before {
  content: "\e038";
}
.icon-linea-basic-10-15:before {
  content: "\e039";
}
.icon-linea-basic-10-16:before {
  content: "\e03a";
}
.icon-linea-basic-10-17:before {
  content: "\e03b";
}
.icon-linea-basic-10-18:before {
  content: "\e03c";
}
.icon-linea-basic-10-19:before {
  content: "\e03d";
}
.icon-linea-basic-10-20:before {
  content: "\e03e";
}
.icon-linea-basic-10-21:before {
  content: "\e03f";
}
.icon-linea-basic-10-22:before {
  content: "\e040";
}
.icon-linea-basic-10-23:before {
  content: "\e041";
}
.icon-linea-basic-10-24:before {
  content: "\e042";
}
.icon-linea-basic-10-25:before {
  content: "\e043";
}
.icon-linea-basic-10-26:before {
  content: "\e044";
}
.icon-linea-basic-10-27:before {
  content: "\e045";
}
.icon-linea-basic-10-28:before {
  content: "\e046";
}
.icon-linea-basic-10-29:before {
  content: "\e047";
}
.icon-linea-basic-10-30:before {
  content: "\e048";
}
.icon-linea-basic-10-31:before {
  content: "\e049";
}
.icon-linea-basic-10-32:before {
  content: "\e04a";
}
.icon-linea-basic-10-33:before {
  content: "\e04b";
}
.icon-linea-basic-10-34:before {
  content: "\e04c";
}
.icon-linea-basic-10-35:before {
  content: "\e04d";
}
.icon-linea-basic-10-36:before {
  content: "\e04e";
}
.icon-linea-basic-10-37:before {
  content: "\e04f";
}
.icon-linea-basic-10-38:before {
  content: "\e050";
}
.icon-linea-basic-10-39:before {
  content: "\e051";
}
.icon-linea-basic-10-40:before {
  content: "\e052";
}
.icon-linea-basic-10-41:before {
  content: "\e053";
}
.icon-linea-basic-10-42:before {
  content: "\e054";
}
.icon-linea-basic-10-43:before {
  content: "\e055";
}
.icon-linea-basic-10-44:before {
  content: "\e056";
}
.icon-linea-basic-10-45:before {
  content: "\e057";
}
.icon-linea-basic-10-46:before {
  content: "\e058";
}
.icon-linea-basic-10-47:before {
  content: "\e059";
}
.icon-linea-basic-10-48:before {
  content: "\e05a";
}
.icon-linea-basic-10-49:before {
  content: "\e05b";
}
.icon-linea-basic-10-50:before {
  content: "\e05c";
}
.icon-linea-basic-10-51:before {
  content: "\e05d";
}
.icon-linea-basic-10-52:before {
  content: "\e05e";
}
.icon-linea-basic-10-53:before {
  content: "\e05f";
}
.icon-linea-basic-10-54:before {
  content: "\e060";
}
.icon-linea-basic-10-55:before {
  content: "\e061";
}
.icon-linea-basic-10-56:before {
  content: "\e062";
}
.icon-linea-basic-10-57:before {
  content: "\e063";
}
.icon-linea-basic-10-58:before {
  content: "\e064";
}
.icon-linea-basic-10-59:before {
  content: "\e065";
}
.icon-linea-basic-10-60:before {
  content: "\e066";
}
.icon-linea-basic-10-61:before {
  content: "\e067";
}
.icon-linea-basic-10-62:before {
  content: "\e068";
}
.icon-linea-basic-10-63:before {
  content: "\e069";
}
.icon-linea-basic-10-64:before {
  content: "\e06a";
}
.icon-linea-basic-10-65:before {
  content: "\e06b";
}
.icon-linea-basic-10-66:before {
  content: "\e06c";
}
.icon-linea-basic-10-67:before {
  content: "\e06d";
}
.icon-linea-basic-10-68:before {
  content: "\e06e";
}
.icon-linea-basic-10-69:before {
  content: "\e06f";
}
.icon-linea-basic-10-70:before {
  content: "\e070";
}
.icon-linea-basic-10-71:before {
  content: "\e071";
}
.icon-linea-basic-10-72:before {
  content: "\e072";
}
.icon-linea-basic-10-73:before {
  content: "\e073";
}
.icon-linea-basic-10-74:before {
  content: "\e074";
}
.icon-linea-basic-10-75:before {
  content: "\e075";
}
.icon-linea-basic-10-76:before {
  content: "\e076";
}
.icon-linea-basic-10-77:before {
  content: "\e077";
}
.icon-linea-basic-10-78:before {
  content: "\e078";
}
.icon-linea-basic-10-79:before {
  content: "\e079";
}
.icon-linea-basic-10-80:before {
  content: "\e07a";
}
.icon-linea-basic-10-81:before {
  content: "\e07b";
}
.icon-linea-basic-10-82:before {
  content: "\e07c";
}
.icon-linea-basic-10-83:before {
  content: "\e07d";
}
.icon-linea-basic-10-84:before {
  content: "\e07e";
}
.icon-linea-basic-10-85:before {
  content: "\e07f";
}
.icon-linea-basic-10-86:before {
  content: "\e080";
}
.icon-linea-basic-10-87:before {
  content: "\e081";
}
.icon-linea-basic-10-88:before {
  content: "\e082";
}
.icon-linea-basic-10-89:before {
  content: "\e083";
}
.icon-linea-basic-10-90:before {
  content: "\e084";
}
.icon-linea-basic-10-91:before {
  content: "\e085";
}
.icon-linea-basic-10-92:before {
  content: "\e086";
}
.icon-linea-basic-10-93:before {
  content: "\e087";
}
.icon-linea-basic-10-94:before {
  content: "\e088";
}
.icon-linea-basic-10-95:before {
  content: "\e089";
}
.icon-linea-basic-10-96:before {
  content: "\e08a";
}
.icon-linea-basic-10-97:before {
  content: "\e08b";
}
.icon-linea-basic-10-98:before {
  content: "\e08c";
}
.icon-linea-basic-10-99:before {
  content: "\e08d";
}
.icon-linea-basic-10-100:before {
  content: "\e08e";
}
.icon-linea-basic-10-101:before {
  content: "\e08f";
}
.icon-linea-basic-10-102:before {
  content: "\e090";
}
.icon-linea-basic-10-103:before {
  content: "\e091";
}
.icon-linea-basic-10-104:before {
  content: "\e092";
}
.icon-linea-basic-10-105:before {
  content: "\e093";
}
.icon-linea-basic-10-106:before {
  content: "\e094";
}
.icon-linea-basic-10-107:before {
  content: "\e095";
}
.icon-linea-basic-10-108:before {
  content: "\e096";
}
.icon-linea-basic-10-109:before {
  content: "\e097";
}
.icon-linea-basic-10-110:before {
  content: "\e098";
}
.icon-linea-basic-10-111:before {
  content: "\e099";
}
.icon-linea-basic-10-112:before {
  content: "\e09a";
}
.icon-linea-basic-10-113:before {
  content: "\e09b";
}
.icon-linea-basic-10-114:before {
  content: "\e09c";
}
.icon-linea-basic-10-115:before {
  content: "\e09d";
}
.icon-linea-basic-10-116:before {
  content: "\e09e";
}
.icon-linea-basic-10-117:before {
  content: "\e09f";
}
.icon-linea-basic-10-118:before {
  content: "\e0a0";
}
.icon-linea-basic-10-119:before {
  content: "\e0a1";
}
.icon-linea-basic-10-120:before {
  content: "\e0a2";
}
.icon-linea-basic-10-121:before {
  content: "\e0a3";
}
.icon-linea-basic-10-122:before {
  content: "\e0a4";
}
.icon-linea-basic-10-123:before {
  content: "\e0a5";
}
.icon-linea-basic-10-124:before {
  content: "\e0a6";
}
.icon-linea-basic-10-125:before {
  content: "\e0a7";
}
.icon-linea-basic-10-126:before {
  content: "\e0a8";
}
.icon-linea-basic-10-127:before {
  content: "\e0a9";
}
.icon-linea-basic-10-128:before {
  content: "\e0aa";
}
.icon-linea-basic-10-129:before {
  content: "\e0ab";
}
.icon-linea-basic-10-130:before {
  content: "\e0ac";
}
.icon-linea-basic-10-131:before {
  content: "\e0ad";
}
.icon-linea-basic-10-132:before {
  content: "\e0ae";
}
.icon-linea-basic-10-133:before {
  content: "\e0af";
}
.icon-linea-basic-10-134:before {
  content: "\e0b0";
}
.icon-linea-basic-elaboration-10:before {
  content: "\e0b1";
}
.icon-linea-basic-elaboration-10-1:before {
  content: "\e0b2";
}
.icon-linea-basic-elaboration-10-2:before {
  content: "\e0b3";
}
.icon-linea-basic-elaboration-10-3:before {
  content: "\e0b4";
}
.icon-linea-basic-elaboration-10-4:before {
  content: "\e0b5";
}
.icon-linea-basic-elaboration-10-5:before {
  content: "\e0b6";
}
.icon-linea-basic-elaboration-10-6:before {
  content: "\e0b7";
}
.icon-linea-basic-elaboration-10-7:before {
  content: "\e0b8";
}
.icon-linea-basic-elaboration-10-8:before {
  content: "\e0b9";
}
.icon-linea-basic-elaboration-10-9:before {
  content: "\e0ba";
}
.icon-linea-basic-elaboration-10-10:before {
  content: "\e0bb";
}
.icon-linea-basic-elaboration-10-11:before {
  content: "\e0bc";
}
.icon-linea-basic-elaboration-10-12:before {
  content: "\e0bd";
}
.icon-linea-basic-elaboration-10-13:before {
  content: "\e0be";
}
.icon-linea-basic-elaboration-10-14:before {
  content: "\e0bf";
}
.icon-linea-basic-elaboration-10-15:before {
  content: "\e0c0";
}
.icon-linea-basic-elaboration-10-16:before {
  content: "\e0c1";
}
.icon-linea-basic-elaboration-10-17:before {
  content: "\e0c2";
}
.icon-linea-basic-elaboration-10-18:before {
  content: "\e0c3";
}
.icon-linea-basic-elaboration-10-19:before {
  content: "\e0c4";
}
.icon-linea-basic-elaboration-10-20:before {
  content: "\e0c5";
}
.icon-linea-basic-elaboration-10-21:before {
  content: "\e0c6";
}
.icon-linea-basic-elaboration-10-22:before {
  content: "\e0c7";
}
.icon-linea-basic-elaboration-10-23:before {
  content: "\e0c8";
}
.icon-linea-basic-elaboration-10-24:before {
  content: "\e0c9";
}
.icon-linea-basic-elaboration-10-25:before {
  content: "\e0ca";
}
.icon-linea-basic-elaboration-10-26:before {
  content: "\e0cb";
}
.icon-linea-basic-elaboration-10-27:before {
  content: "\e0cc";
}
.icon-linea-basic-elaboration-10-28:before {
  content: "\e0cd";
}
.icon-linea-basic-elaboration-10-29:before {
  content: "\e0ce";
}
.icon-linea-basic-elaboration-10-30:before {
  content: "\e0cf";
}
.icon-linea-basic-elaboration-10-31:before {
  content: "\e0d0";
}
.icon-linea-basic-elaboration-10-32:before {
  content: "\e0d1";
}
.icon-linea-basic-elaboration-10-33:before {
  content: "\e0d2";
}
.icon-linea-basic-elaboration-10-34:before {
  content: "\e0d3";
}
.icon-linea-basic-elaboration-10-35:before {
  content: "\e0d4";
}
.icon-linea-basic-elaboration-10-36:before {
  content: "\e0d5";
}
.icon-linea-basic-elaboration-10-37:before {
  content: "\e0d6";
}
.icon-linea-basic-elaboration-10-38:before {
  content: "\e0d7";
}
.icon-linea-basic-elaboration-10-39:before {
  content: "\e0d8";
}
.icon-linea-basic-elaboration-10-40:before {
  content: "\e0d9";
}
.icon-linea-basic-elaboration-10-41:before {
  content: "\e0da";
}
.icon-linea-basic-elaboration-10-42:before {
  content: "\e0db";
}
.icon-linea-basic-elaboration-10-43:before {
  content: "\e0dc";
}
.icon-linea-basic-elaboration-10-44:before {
  content: "\e0dd";
}
.icon-linea-basic-elaboration-10-45:before {
  content: "\e0de";
}
.icon-linea-basic-elaboration-10-46:before {
  content: "\e0df";
}
.icon-linea-basic-elaboration-10-47:before {
  content: "\e0e0";
}
.icon-linea-basic-elaboration-10-48:before {
  content: "\e0e1";
}
.icon-linea-basic-elaboration-10-49:before {
  content: "\e0e2";
}
.icon-linea-basic-elaboration-10-50:before {
  content: "\e0e3";
}
.icon-linea-basic-elaboration-10-51:before {
  content: "\e0e4";
}
.icon-linea-basic-elaboration-10-52:before {
  content: "\e0e5";
}
.icon-linea-basic-elaboration-10-53:before {
  content: "\e0e6";
}
.icon-linea-basic-elaboration-10-54:before {
  content: "\e0e7";
}
.icon-linea-basic-elaboration-10-55:before {
  content: "\e0e8";
}
.icon-linea-basic-elaboration-10-56:before {
  content: "\e0e9";
}
.icon-linea-basic-elaboration-10-57:before {
  content: "\e0ea";
}
.icon-linea-basic-elaboration-10-58:before {
  content: "\e0eb";
}
.icon-linea-basic-elaboration-10-59:before {
  content: "\e0ec";
}
.icon-linea-basic-elaboration-10-60:before {
  content: "\e0ed";
}
.icon-linea-basic-elaboration-10-61:before {
  content: "\e0ee";
}
.icon-linea-basic-elaboration-10-62:before {
  content: "\e0ef";
}
.icon-linea-basic-elaboration-10-63:before {
  content: "\e0f0";
}
.icon-linea-basic-elaboration-10-64:before {
  content: "\e0f1";
}
.icon-linea-basic-elaboration-10-65:before {
  content: "\e0f2";
}
.icon-linea-basic-elaboration-10-66:before {
  content: "\e0f3";
}
.icon-linea-basic-elaboration-10-67:before {
  content: "\e0f4";
}
.icon-linea-basic-elaboration-10-68:before {
  content: "\e0f5";
}
.icon-linea-basic-elaboration-10-69:before {
  content: "\e0f6";
}
.icon-linea-basic-elaboration-10-70:before {
  content: "\e0f7";
}
.icon-linea-basic-elaboration-10-71:before {
  content: "\e0f8";
}
.icon-linea-basic-elaboration-10-72:before {
  content: "\e0f9";
}
.icon-linea-basic-elaboration-10-73:before {
  content: "\e0fa";
}
.icon-linea-basic-elaboration-10-74:before {
  content: "\e0fb";
}
.icon-linea-basic-elaboration-10-75:before {
  content: "\e0fc";
}
.icon-linea-basic-elaboration-10-76:before {
  content: "\e0fd";
}
.icon-linea-basic-elaboration-10-77:before {
  content: "\e0fe";
}
.icon-linea-basic-elaboration-10-78:before {
  content: "\e0ff";
}
.icon-linea-basic-elaboration-10-79:before {
  content: "\e100";
}
.icon-linea-basic-elaboration-10-80:before {
  content: "\e101";
}
.icon-linea-basic-elaboration-10-81:before {
  content: "\e102";
}
.icon-linea-basic-elaboration-10-82:before {
  content: "\e103";
}
.icon-linea-basic-elaboration-10-83:before {
  content: "\e104";
}
.icon-linea-basic-elaboration-10-84:before {
  content: "\e105";
}
.icon-linea-basic-elaboration-10-85:before {
  content: "\e106";
}
.icon-linea-basic-elaboration-10-86:before {
  content: "\e107";
}
.icon-linea-basic-elaboration-10-87:before {
  content: "\e108";
}
.icon-linea-basic-elaboration-10-88:before {
  content: "\e109";
}
.icon-linea-basic-elaboration-10-89:before {
  content: "\e10a";
}
.icon-linea-basic-elaboration-10-90:before {
  content: "\e10b";
}
.icon-linea-basic-elaboration-10-91:before {
  content: "\e10c";
}
.icon-linea-basic-elaboration-10-92:before {
  content: "\e10d";
}
.icon-linea-basic-elaboration-10-93:before {
  content: "\e10e";
}
.icon-linea-basic-elaboration-10-94:before {
  content: "\e10f";
}
.icon-linea-basic-elaboration-10-95:before {
  content: "\e110";
}
.icon-linea-basic-elaboration-10-96:before {
  content: "\e111";
}
.icon-linea-basic-elaboration-10-97:before {
  content: "\e112";
}
.icon-linea-basic-elaboration-10-98:before {
  content: "\e113";
}
.icon-linea-basic-elaboration-10-99:before {
  content: "\e114";
}
.icon-linea-basic-elaboration-10-100:before {
  content: "\e115";
}
.icon-linea-basic-elaboration-10-101:before {
  content: "\e116";
}
.icon-linea-basic-elaboration-10-102:before {
  content: "\e117";
}
.icon-linea-basic-elaboration-10-103:before {
  content: "\e118";
}
.icon-linea-basic-elaboration-10-104:before {
  content: "\e119";
}
.icon-linea-basic-elaboration-10-105:before {
  content: "\e11a";
}
.icon-linea-basic-elaboration-10-106:before {
  content: "\e11b";
}
.icon-linea-basic-elaboration-10-107:before {
  content: "\e11c";
}
.icon-linea-basic-elaboration-10-108:before {
  content: "\e11d";
}
.icon-linea-basic-elaboration-10-109:before {
  content: "\e11e";
}
.icon-linea-basic-elaboration-10-110:before {
  content: "\e11f";
}
.icon-linea-basic-elaboration-10-111:before {
  content: "\e120";
}
.icon-linea-basic-elaboration-10-112:before {
  content: "\e121";
}
.icon-linea-basic-elaboration-10-113:before {
  content: "\e122";
}
.icon-linea-basic-elaboration-10-114:before {
  content: "\e123";
}
.icon-linea-basic-elaboration-10-115:before {
  content: "\e124";
}
.icon-linea-basic-elaboration-10-116:before {
  content: "\e125";
}
.icon-linea-basic-elaboration-10-117:before {
  content: "\e126";
}
.icon-linea-basic-elaboration-10-118:before {
  content: "\e127";
}
.icon-linea-basic-elaboration-10-119:before {
  content: "\e128";
}
.icon-linea-basic-elaboration-10-120:before {
  content: "\e129";
}
.icon-linea-basic-elaboration-10-121:before {
  content: "\e12a";
}
.icon-linea-basic-elaboration-10-122:before {
  content: "\e12b";
}
.icon-linea-basic-elaboration-10-123:before {
  content: "\e12c";
}
.icon-linea-basic-elaboration-10-124:before {
  content: "\e12d";
}
.icon-linea-basic-elaboration-10-125:before {
  content: "\e12e";
}
.icon-linea-basic-elaboration-10-126:before {
  content: "\e12f";
}
.icon-linea-basic-elaboration-10-127:before {
  content: "\e130";
}
.icon-linea-basic-elaboration-10-128:before {
  content: "\e131";
}
.icon-linea-basic-elaboration-10-129:before {
  content: "\e132";
}
.icon-linea-basic-elaboration-10-130:before {
  content: "\e133";
}
.icon-linea-basic-elaboration-10-131:before {
  content: "\e134";
}
.icon-linea-basic-elaboration-10-132:before {
  content: "\e135";
}
.icon-linea-basic-elaboration-10-133:before {
  content: "\e136";
}
.icon-linea-basic-elaboration-10-134:before {
  content: "\e137";
}
.icon-linea-basic-elaboration-10-135:before {
  content: "\e138";
}
.icon-linea-basic-elaboration-10-136:before {
  content: "\e139";
}
.icon-linea-basic-elaboration-10-137:before {
  content: "\e13a";
}
.icon-linea-basic-elaboration-10-138:before {
  content: "\e13b";
}
.icon-linea-basic-elaboration-10-139:before {
  content: "\e13c";
}
.icon-linea-basic-elaboration-10-140:before {
  content: "\e13d";
}
.icon-linea-basic-elaboration-10-141:before {
  content: "\e13e";
}
.icon-linea-basic-elaboration-10-142:before {
  content: "\e13f";
}
.icon-linea-basic-elaboration-10-143:before {
  content: "\e140";
}
.icon-linea-basic-elaboration-10-144:before {
  content: "\e141";
}
.icon-linea-ecommerce-10:before {
  content: "\e142";
}
.icon-linea-ecommerce-10-1:before {
  content: "\e143";
}
.icon-linea-ecommerce-10-2:before {
  content: "\e144";
}
.icon-linea-ecommerce-10-3:before {
  content: "\e145";
}
.icon-linea-ecommerce-10-4:before {
  content: "\e146";
}
.icon-linea-ecommerce-10-5:before {
  content: "\e147";
}
.icon-linea-ecommerce-10-6:before {
  content: "\e148";
}
.icon-linea-ecommerce-10-7:before {
  content: "\e149";
}
.icon-linea-ecommerce-10-8:before {
  content: "\e14a";
}
.icon-linea-ecommerce-10-9:before {
  content: "\e14b";
}
.icon-linea-ecommerce-10-10:before {
  content: "\e14c";
}
.icon-linea-ecommerce-10-11:before {
  content: "\e14d";
}
.icon-linea-ecommerce-10-12:before {
  content: "\e14e";
}
.icon-linea-ecommerce-10-13:before {
  content: "\e14f";
}
.icon-linea-ecommerce-10-14:before {
  content: "\e150";
}
.icon-linea-ecommerce-10-15:before {
  content: "\e151";
}
.icon-linea-ecommerce-10-16:before {
  content: "\e152";
}
.icon-linea-ecommerce-10-17:before {
  content: "\e153";
}
.icon-linea-ecommerce-10-18:before {
  content: "\e154";
}
.icon-linea-ecommerce-10-19:before {
  content: "\e155";
}
.icon-linea-ecommerce-10-20:before {
  content: "\e156";
}
.icon-linea-ecommerce-10-21:before {
  content: "\e157";
}
.icon-linea-ecommerce-10-22:before {
  content: "\e158";
}
.icon-linea-ecommerce-10-23:before {
  content: "\e159";
}
.icon-linea-ecommerce-10-24:before {
  content: "\e15a";
}
.icon-linea-ecommerce-10-25:before {
  content: "\e15b";
}
.icon-linea-ecommerce-10-26:before {
  content: "\e15c";
}
.icon-linea-ecommerce-10-27:before {
  content: "\e15d";
}
.icon-linea-ecommerce-10-28:before {
  content: "\e15e";
}
.icon-linea-ecommerce-10-29:before {
  content: "\e15f";
}
.icon-linea-ecommerce-10-30:before {
  content: "\e160";
}
.icon-linea-ecommerce-10-31:before {
  content: "\e161";
}
.icon-linea-ecommerce-10-32:before {
  content: "\e162";
}
.icon-linea-ecommerce-10-33:before {
  content: "\e163";
}
.icon-linea-ecommerce-10-34:before {
  content: "\e164";
}
.icon-linea-ecommerce-10-35:before {
  content: "\e165";
}
.icon-linea-ecommerce-10-36:before {
  content: "\e166";
}
.icon-linea-ecommerce-10-37:before {
  content: "\e167";
}
.icon-linea-ecommerce-10-38:before {
  content: "\e168";
}
.icon-linea-ecommerce-10-39:before {
  content: "\e169";
}
.icon-linea-ecommerce-10-40:before {
  content: "\e16a";
}
.icon-linea-ecommerce-10-41:before {
  content: "\e16b";
}
.icon-linea-ecommerce-10-42:before {
  content: "\e16c";
}
.icon-linea-ecommerce-10-43:before {
  content: "\e16d";
}
.icon-linea-ecommerce-10-44:before {
  content: "\e16e";
}
.icon-linea-ecommerce-10-45:before {
  content: "\e16f";
}
.icon-linea-ecommerce-10-46:before {
  content: "\e170";
}
.icon-linea-ecommerce-10-47:before {
  content: "\e171";
}
.icon-linea-ecommerce-10-48:before {
  content: "\e172";
}
.icon-linea-ecommerce-10-49:before {
  content: "\e173";
}
.icon-linea-ecommerce-10-50:before {
  content: "\e174";
}
.icon-linea-ecommerce-10-51:before {
  content: "\e175";
}
.icon-linea-ecommerce-10-52:before {
  content: "\e176";
}
.icon-linea-ecommerce-10-53:before {
  content: "\e177";
}
.icon-linea-ecommerce-10-54:before {
  content: "\e178";
}
.icon-linea-ecommerce-10-55:before {
  content: "\e179";
}
.icon-linea-ecommerce-10-56:before {
  content: "\e17a";
}
.icon-linea-ecommerce-10-57:before {
  content: "\e17b";
}
.icon-linea-ecommerce-10-58:before {
  content: "\e17c";
}
.icon-linea-ecommerce-10-59:before {
  content: "\e17d";
}
.icon-linea-ecommerce-10-60:before {
  content: "\e17e";
}
.icon-linea-ecommerce-10-61:before {
  content: "\e17f";
}
.icon-linea-ecommerce-10-62:before {
  content: "\e180";
}
.icon-linea-ecommerce-10-63:before {
  content: "\e181";
}
.icon-linea-ecommerce-10-64:before {
  content: "\e182";
}
.icon-linea-ecommerce-10-65:before {
  content: "\e183";
}
.icon-linea-ecommerce-10-66:before {
  content: "\e184";
}
.icon-linea-ecommerce-10-67:before {
  content: "\e185";
}
.icon-linea-ecommerce-10-68:before {
  content: "\e186";
}
.icon-linea-ecommerce-10-69:before {
  content: "\e187";
}
.icon-linea-ecommerce-10-70:before {
  content: "\e188";
}
.icon-linea-ecommerce-10-71:before {
  content: "\e189";
}
.icon-linea-ecommerce-10-72:before {
  content: "\e18a";
}
.icon-linea-ecommerce-10-73:before {
  content: "\e18b";
}
.icon-linea-ecommerce-10-74:before {
  content: "\e18c";
}
.icon-linea-ecommerce-10-75:before {
  content: "\e18d";
}
.icon-linea-ecommerce-10-76:before {
  content: "\e18e";
}
.icon-linea-ecommerce-10-77:before {
  content: "\e18f";
}
.icon-linea-ecommerce-10-78:before {
  content: "\e190";
}
.icon-linea-ecommerce-10-79:before {
  content: "\e191";
}
.icon-linea-ecommerce-10-80:before {
  content: "\e192";
}
.icon-linea-ecommerce-10-81:before {
  content: "\e193";
}
.icon-linea-ecommerce-10-82:before {
  content: "\e194";
}
.icon-linea-ecommerce-10-83:before {
  content: "\e195";
}
.icon-linea-ecommerce-10-84:before {
  content: "\e196";
}
.icon-linea-music-10:before {
  content: "\e197";
}
.icon-linea-music-10-1:before {
  content: "\e198";
}
.icon-linea-music-10-2:before {
  content: "\e199";
}
.icon-linea-music-10-3:before {
  content: "\e19a";
}
.icon-linea-music-10-4:before {
  content: "\e19b";
}
.icon-linea-music-10-5:before {
  content: "\e19c";
}
.icon-linea-music-10-6:before {
  content: "\e19d";
}
.icon-linea-music-10-7:before {
  content: "\e19e";
}
.icon-linea-music-10-8:before {
  content: "\e19f";
}
.icon-linea-music-10-9:before {
  content: "\e1a0";
}
.icon-linea-music-10-10:before {
  content: "\e1a1";
}
.icon-linea-music-10-11:before {
  content: "\e1a2";
}
.icon-linea-music-10-12:before {
  content: "\e1a3";
}
.icon-linea-music-10-13:before {
  content: "\e1a4";
}
.icon-linea-music-10-14:before {
  content: "\e1a5";
}
.icon-linea-music-10-15:before {
  content: "\e1a6";
}
.icon-linea-music-10-16:before {
  content: "\e1a7";
}
.icon-linea-music-10-17:before {
  content: "\e1a8";
}
.icon-linea-music-10-18:before {
  content: "\e1a9";
}
.icon-linea-music-10-19:before {
  content: "\e1aa";
}
.icon-linea-music-10-20:before {
  content: "\e1ab";
}
.icon-linea-music-10-21:before {
  content: "\e1ac";
}
.icon-linea-music-10-22:before {
  content: "\e1ad";
}
.icon-linea-music-10-23:before {
  content: "\e1ae";
}
.icon-linea-music-10-24:before {
  content: "\e1af";
}
.icon-linea-music-10-25:before {
  content: "\e1b0";
}
.icon-linea-music-10-26:before {
  content: "\e1b1";
}
.icon-linea-music-10-27:before {
  content: "\e1b2";
}
.icon-linea-music-10-28:before {
  content: "\e1b3";
}
.icon-linea-music-10-29:before {
  content: "\e1b4";
}
.icon-linea-software-10:before {
  content: "\e1b5";
}
.icon-linea-software-10-1:before {
  content: "\e1b6";
}
.icon-linea-software-10-2:before {
  content: "\e1b7";
}
.icon-linea-software-10-3:before {
  content: "\e1b8";
}
.icon-linea-software-10-4:before {
  content: "\e1b9";
}
.icon-linea-software-10-5:before {
  content: "\e1ba";
}
.icon-linea-software-10-6:before {
  content: "\e1bb";
}
.icon-linea-software-10-7:before {
  content: "\e1bc";
}
.icon-linea-software-10-8:before {
  content: "\e1bd";
}
.icon-linea-software-10-9:before {
  content: "\e1be";
}
.icon-linea-software-10-10:before {
  content: "\e1bf";
}
.icon-linea-software-10-11:before {
  content: "\e1c0";
}
.icon-linea-software-10-12:before {
  content: "\e1c1";
}
.icon-linea-software-10-13:before {
  content: "\e1c2";
}
.icon-linea-software-10-14:before {
  content: "\e1c3";
}
.icon-linea-software-10-15:before {
  content: "\e1c4";
}
.icon-linea-software-10-16:before {
  content: "\e1c5";
}
.icon-linea-software-10-17:before {
  content: "\e1c6";
}
.icon-linea-software-10-18:before {
  content: "\e1c7";
}
.icon-linea-software-10-19:before {
  content: "\e1c8";
}
.icon-linea-software-10-20:before {
  content: "\e1c9";
}
.icon-linea-software-10-21:before {
  content: "\e1ca";
}
.icon-linea-software-10-22:before {
  content: "\e1cb";
}
.icon-linea-software-10-23:before {
  content: "\e1cc";
}
.icon-linea-software-10-24:before {
  content: "\e1cd";
}
.icon-linea-software-10-25:before {
  content: "\e1ce";
}
.icon-linea-software-10-26:before {
  content: "\e1cf";
}
.icon-linea-software-10-27:before {
  content: "\e1d0";
}
.icon-linea-software-10-28:before {
  content: "\e1d1";
}
.icon-linea-software-10-29:before {
  content: "\e1d2";
}
.icon-linea-software-10-30:before {
  content: "\e1d3";
}
.icon-linea-software-10-31:before {
  content: "\e1d4";
}
.icon-linea-software-10-32:before {
  content: "\e1d5";
}
.icon-linea-software-10-33:before {
  content: "\e1d6";
}
.icon-linea-software-10-34:before {
  content: "\e1d7";
}
.icon-linea-software-10-35:before {
  content: "\e1d8";
}
.icon-linea-software-10-36:before {
  content: "\e1d9";
}
.icon-linea-software-10-37:before {
  content: "\e1da";
}
.icon-linea-software-10-38:before {
  content: "\e1db";
}
.icon-linea-software-10-39:before {
  content: "\e1dc";
}
.icon-linea-software-10-40:before {
  content: "\e1dd";
}
.icon-linea-software-10-41:before {
  content: "\e1de";
}
.icon-linea-software-10-42:before {
  content: "\e1df";
}
.icon-linea-software-10-43:before {
  content: "\e1e0";
}
.icon-linea-software-10-44:before {
  content: "\e1e1";
}
.icon-linea-software-10-45:before {
  content: "\e1e2";
}
.icon-linea-software-10-46:before {
  content: "\e1e3";
}
.icon-linea-software-10-47:before {
  content: "\e1e4";
}
.icon-linea-software-10-48:before {
  content: "\e1e5";
}
.icon-linea-software-10-49:before {
  content: "\e1e6";
}
.icon-linea-software-10-50:before {
  content: "\e1e7";
}
.icon-linea-software-10-51:before {
  content: "\e1e8";
}
.icon-linea-software-10-52:before {
  content: "\e1e9";
}
.icon-linea-software-10-53:before {
  content: "\e1ea";
}
.icon-linea-software-10-54:before {
  content: "\e1eb";
}
.icon-linea-software-10-55:before {
  content: "\e1ec";
}
.icon-linea-software-10-56:before {
  content: "\e1ed";
}
.icon-linea-software-10-57:before {
  content: "\e1ee";
}
.icon-linea-software-10-58:before {
  content: "\e1ef";
}
.icon-linea-software-10-59:before {
  content: "\e1f0";
}
.icon-linea-software-10-60:before {
  content: "\e1f1";
}
.icon-linea-software-10-61:before {
  content: "\e1f2";
}
.icon-linea-software-10-62:before {
  content: "\e1f3";
}
.icon-linea-software-10-63:before {
  content: "\e1f4";
}
.icon-linea-software-10-64:before {
  content: "\e1f5";
}
.icon-linea-software-10-65:before {
  content: "\e1f6";
}
.icon-linea-software-10-66:before {
  content: "\e1f7";
}
.icon-linea-software-10-67:before {
  content: "\e1f8";
}
.icon-linea-software-10-68:before {
  content: "\e1f9";
}
.icon-linea-software-10-69:before {
  content: "\e1fa";
}
.icon-linea-software-10-70:before {
  content: "\e1fb";
}
.icon-linea-software-10-71:before {
  content: "\e1fc";
}
.icon-linea-software-10-72:before {
  content: "\e1fd";
}
.icon-linea-software-10-73:before {
  content: "\e1fe";
}
.icon-linea-software-10-74:before {
  content: "\e1ff";
}
.icon-linea-software-10-75:before {
  content: "\e200";
}
.icon-linea-software-10-76:before {
  content: "\e201";
}
.icon-linea-software-10-77:before {
  content: "\e202";
}
.icon-linea-software-10-78:before {
  content: "\e203";
}
.icon-linea-software-10-79:before {
  content: "\e204";
}
.icon-linea-software-10-80:before {
  content: "\e205";
}
.icon-linea-software-10-81:before {
  content: "\e206";
}
.icon-linea-software-10-82:before {
  content: "\e207";
}
.icon-linea-software-10-83:before {
  content: "\e208";
}
.icon-linea-software-10-84:before {
  content: "\e209";
}
.icon-linea-software-10-85:before {
  content: "\e20a";
}
.icon-linea-software-10-86:before {
  content: "\e20b";
}
.icon-linea-software-10-87:before {
  content: "\e20c";
}
.icon-linea-software-10-88:before {
  content: "\e20d";
}
.icon-linea-software-10-89:before {
  content: "\e20e";
}
.icon-linea-software-10-90:before {
  content: "\e20f";
}
.icon-linea-software-10-91:before {
  content: "\e210";
}
.icon-linea-software-10-92:before {
  content: "\e211";
}
.icon-linea-software-10-93:before {
  content: "\e212";
}
.icon-linea-software-10-94:before {
  content: "\e213";
}
.icon-linea-software-10-95:before {
  content: "\e214";
}
.icon-linea-software-10-96:before {
  content: "\e215";
}
.icon-linea-software-10-97:before {
  content: "\e216";
}
.icon-linea-software-10-98:before {
  content: "\e217";
}
.icon-linea-software-10-99:before {
  content: "\e218";
}
.icon-linea-weather-10:before {
  content: "\e219";
}
.icon-linea-weather-10-1:before {
  content: "\e21a";
}
.icon-linea-weather-10-2:before {
  content: "\e21b";
}
.icon-linea-weather-10-3:before {
  content: "\e21c";
}
.icon-linea-weather-10-4:before {
  content: "\e21d";
}
.icon-linea-weather-10-5:before {
  content: "\e21e";
}
.icon-linea-weather-10-6:before {
  content: "\e21f";
}
.icon-linea-weather-10-7:before {
  content: "\e220";
}
.icon-linea-weather-10-8:before {
  content: "\e221";
}
.icon-linea-weather-10-9:before {
  content: "\e222";
}
.icon-linea-weather-10-10:before {
  content: "\e223";
}
.icon-linea-weather-10-11:before {
  content: "\e224";
}
.icon-linea-weather-10-12:before {
  content: "\e225";
}
.icon-linea-weather-10-13:before {
  content: "\e226";
}
.icon-linea-weather-10-14:before {
  content: "\e227";
}
.icon-linea-weather-10-15:before {
  content: "\e228";
}
.icon-linea-weather-10-16:before {
  content: "\e229";
}
.icon-linea-weather-10-17:before {
  content: "\e22a";
}
.icon-linea-weather-10-18:before {
  content: "\e22b";
}
.icon-linea-weather-10-19:before {
  content: "\e22c";
}
.icon-linea-weather-10-20:before {
  content: "\e22d";
}
.icon-linea-weather-10-21:before {
  content: "\e22e";
}
.icon-linea-weather-10-22:before {
  content: "\e22f";
}
.icon-linea-weather-10-23:before {
  content: "\e230";
}
.icon-linea-weather-10-24:before {
  content: "\e231";
}
.icon-linea-weather-10-25:before {
  content: "\e232";
}
.icon-linea-weather-10-26:before {
  content: "\e233";
}
.icon-linea-weather-10-27:before {
  content: "\e234";
}
.icon-linea-weather-10-28:before {
  content: "\e235";
}
.icon-linea-weather-10-29:before {
  content: "\e236";
}
.icon-linea-weather-10-30:before {
  content: "\e237";
}
.icon-linea-weather-10-31:before {
  content: "\e238";
}
.icon-linea-weather-10-32:before {
  content: "\e239";
}
.icon-linea-weather-10-33:before {
  content: "\e23a";
}
.icon-linea-weather-10-34:before {
  content: "\e23b";
}
.icon-linea-weather-10-35:before {
  content: "\e23c";
}
.icon-linea-weather-10-36:before {
  content: "\e23d";
}
.icon-linea-weather-10-37:before {
  content: "\e23e";
}
.icon-linea-weather-10-38:before {
  content: "\e23f";
}
.icon-linea-weather-10-39:before {
  content: "\e240";
}
.icon-linea-weather-10-40:before {
  content: "\e241";
}
.icon-linea-weather-10-41:before {
  content: "\e242";
}
.icon-linea-weather-10-42:before {
  content: "\e243";
}
.icon-linea-weather-10-43:before {
  content: "\e244";
}
.icon-linea-weather-10-44:before {
  content: "\e245";
}
.icon-linea-weather-10-45:before {
  content: "\e246";
}
.icon-linea-weather-10-46:before {
  content: "\e247";
}
.icon-linea-weather-10-47:before {
  content: "\e248";
}
.icon-linea-weather-10-48:before {
  content: "\e249";
}
.icon-linea-weather-10-49:before {
  content: "\e24a";
}
.icon-linea-weather-10-50:before {
  content: "\e24b";
}
.icon-linea-weather-10-51:before {
  content: "\e24c";
}
.icon-linea-weather-10-52:before {
  content: "\e24d";
}
.icon-linea-weather-10-53:before {
  content: "\e24e";
}
.icon-linea-weather-10-54:before {
  content: "\e24f";
}
.icon-linea-weather-10-55:before {
  content: "\e250";
}
.icon-linea-weather-10-56:before {
  content: "\e251";
}
.icon-linea-weather-10-57:before {
  content: "\e252";
}
.icon-linea-weather-10-58:before {
  content: "\e253";
}
.icon-linea-weather-10-59:before {
  content: "\e254";
}
.icon-linea-weather-10-60:before {
  content: "\e255";
}
.icon-linea-weather-10-61:before {
  content: "\e256";
}
.icon-linea-weather-10-62:before {
  content: "\e257";
}
.icon-linea-weather-10-63:before {
  content: "\e258";
}
.icon-linea-weather-10-64:before {
  content: "\e259";
}
.icon-linea-weather-10-65:before {
  content: "\e25a";
}
.icon-linea-weather-10-66:before {
  content: "\e25b";
}
.icon-linea-weather-10-67:before {
  content: "\e25c";
}
.icon-linea-weather-10-68:before {
  content: "\e25d";
}
.icon-linea-weather-10-69:before {
  content: "\e25e";
}
.icon-linea-weather-10-70:before {
  content: "\e25f";
}
.icon-linea-weather-10-71:before {
  content: "\e260";
}
.icon-linea-weather-10-72:before {
  content: "\e261";
}
.icon-linea-weather-10-73:before {
  content: "\e262";
}
.icon-linea-weather-10-74:before {
  content: "\e263";
}
.icon-linea-weather-10-75:before {
  content: "\e264";
}
.icon-linea-weather-10-76:before {
  content: "\e265";
}
.icon-linea-weather-10-77:before {
  content: "\e266";
}
.icon-linea-weather-10-78:before {
  content: "\e267";
}
.icon-linea-weather-10-79:before {
  content: "\e268";
}
.icon-linea-weather-10-80:before {
  content: "\e269";
}
.icon-linea-weather-10-81:before {
  content: "\e26a";
}
.icon-linea-weather-10-82:before {
  content: "\e26b";
}
.icon-linea-weather-10-83:before {
  content: "\e26c";
}
.icon-linea-weather-10-84:before {
  content: "\e26d";
}
