ul.phpdebugbar-widgets-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: monospace;
}
  ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item {
    padding: 3px 6px;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;
  }
  ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item:hover {
    background: #fafafa;
  }

/* -------------------------------------- */

div.phpdebugbar-widgets-messages {
  position: relative;
  height: 100%;
}
  div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-list {
    padding-bottom: 20px;
  }
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-warning:before {
    font-family: PhpDebugbarFontAwesome;
    content: "\f071";
    margin-right: 8px;
    font-size: 11px;
    color: #ecb03d;
  }
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-error {
    color: red;
  }
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-error:before {
    font-family: PhpDebugbarFontAwesome;
    content: "\f057";
    margin-right: 8px;
    /*font-size: 11px;*/
    font-size: 14px;
    color: red;
  }
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector,
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-label {
    float: right;
    font-size: 12px;
    padding: 2px 4px;
    color: #888;
    margin: 0 2px;
    text-decoration: none;
    text-shadow: none;
    background: none;
    font-weight: normal;
  }
  div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector {
    color: #555;
    font-style: italic;
  }
  div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
    div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input {
      border: 0;
      margin: 0;
      margin-left: 7px;
      width: 50%;
      box-shadow: none;
    }
    div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input:focus {
      outline: none;
    }
      div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter {
        float: right;
        font-size: 12px;
        padding: 2px 4px;
        background: #7cacd5;
        margin: 0 2px;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
      }
      div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter.phpdebugbar-widgets-excluded {
        background: #eee;
        color: #888;
      }

/* -------------------------------------- */

div.phpdebugbar-widgets-xorm {
  position: relative;
  height: 100%;
}
  div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-list {
    padding-bottom: 20px;
  }
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-warning:before {
    font-family: PhpDebugbarFontAwesome;
    content: "\f071";
    margin-right: 8px;
    font-size: 11px;
    color: #ecb03d;
  }
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-error {
    color: red;
  }
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-error:before {
    font-family: PhpDebugbarFontAwesome;
    content: "\f057";
    margin-right: 8px;
    font-size: 11px;
    color: red;
  }
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector,
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-label {
    float: right;
    font-size: 12px;
    padding: 2px 4px;
    color: #888;
    margin: 0 2px;
    text-decoration: none;
    text-shadow: none;
    background: none;
    font-weight: normal;
  }
  div.phpdebugbar-widgets-xorm li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector {
    color: #555;
    font-style: italic;
  }
  div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
    div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-toolbar input {
      border: 0;
      margin: 0;
      margin-left: 7px;
      width: 50%;
      box-shadow: none;
    }
    div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-toolbar input:focus {
      outline: none;
    }
      div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter {
        float: right;
        font-size: 12px;
        padding: 2px 4px;
        background: #7cacd5;
        margin: 0 2px;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
      }
      div.phpdebugbar-widgets-xorm div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter.phpdebugbar-widgets-excluded {
        background: #eee;
        color: #888;
      }
    .phpdebugbar-widgets-xorm .phpdebugbar-widgets-label{
        min-width: 45px;
    }
    .phpdebugbar-widgets-xorm .phpdebugbar-widgets-execution-source{
        min-width: 90px;
    }

/* -------------------------------------- */

dl.phpdebugbar-widgets-kvlist {
  margin: 0;
}
  dl.phpdebugbar-widgets-kvlist dt {
    float: left;
    width: 150px;
    padding: 5px;
    border-top: 1px solid #eee;
    font-weight: bold;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dl.phpdebugbar-widgets-kvlist dd {
    margin-left: 160px;
    padding: 5px;
    border-top: 1px solid #eee;
    cursor: pointer;
    min-height: 17px;
  }

/* -------------------------------------- */

dl.phpdebugbar-widgets-varlist {
  font-family: monospace;
}

/* -------------------------------------- */

ul.phpdebugbar-widgets-timeline {
  margin: 0;
  padding: 0;
  list-style: none;
}
  ul.phpdebugbar-widgets-timeline .phpdebugbar-widgets-measure {
    height: 20px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
  }
  ul.phpdebugbar-widgets-timeline li:hover {
    background: #fafafa;
  }
    ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-label,
    ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-collector {
      position: absolute;
      font-size: 12px;
      font-family: monospace;
      color: #555;
      top: 4px;
      left: 5px;
      background: none;
      text-shadow: none;
      font-weight: normal;
      white-space: pre;
    }
    ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-collector {
      left: initial;
      right: 5px;
    }
    ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-value {
      display: block;
      position: absolute;
      height: 10px;
      background: #3db9ec;
      top: 5px;
      border-radius: 2px;
      min-width: 1px;
    }
    ul.phpdebugbar-widgets-timeline table{
        width: 100%;
        table-layout: fixed;
    }
    ul.phpdebugbar-widgets-timeline td.timeline-label{
        white-space: nowrap;
        width: 200px;
        min-width: 200px;
        border-right: 1px solid #eee;
        color: #777;
        font-size: 10px;
        font-family: monospace;
        height: 20px;
        padding-left: 5px;
    }
    ul.phpdebugbar-widgets-timeline td.timeline-contain{
        position: relative;
        width: 99%;
    }
    ul.phpdebugbar-widgets-timeline td span.phpdebugbar-widgets-value {
      display: block;
      position: absolute;
      height: 10px;
      background: #3db9ec;
      top: 5px;
      border-radius: 2px;
      min-width: 1px;
    }
    ul.phpdebugbar-widgets-timeline table.phpdebugbar-widgets-params {
      display: none;
      width: 70%;
      margin: 10px;
      border: 1px solid #ddd;
      font-family: monospace;
      border-collapse: collapse;
    }
      ul.phpdebugbar-widgets-timeline table.phpdebugbar-widgets-params td {
        border: 1px solid #ddd;
        padding: 0 5px;
      }
      ul.phpdebugbar-widgets-timeline table.phpdebugbar-widgets-params .phpdebugbar-widgets-name {
        width: 20%;
        font-weight: bold;
      }

/* -------------------------------------- */

div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item {
  cursor: pointer;
}
  div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-message {
    display: block;
    color: red;
  }

  div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-filename {
    /*display: block;
    font-style: italic;
    color: #555;*/
    font-size: 11px;
    font-weight: normal;
    color: #777;
    padding: 5px 0;
    display: inline-block;
  }

  div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-type {
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    /*font-weight: bold;*/
    font-size: 12px;
  }

  div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item pre.phpdebugbar-widgets-file {
    display: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    font-family: monospace;
  }

  .xorm-debugger-parent{
      /*padding-left: 20px;*/
      border-left: 1px solid #eee !important;
  }

  .xorm-debugger-parent i{
      transition: all .3s ease;
  }

  .xorm-debugger-parent i.fa-caret-right.opened {
  	/* Firefox */
  	-moz-transform: rotate(90deg);
  	/* WebKit */
  	-webkit-transform: rotate(90deg);
  	/* Opera */
  	-o-transform: rotate(90deg);
  	/* Standard */
  	transform: rotate(90deg);
  }

  .xorm-debugger-parent i.table-joins {
  	/* Firefox */
  	-moz-transform: rotate(90deg);
  	/* WebKit */
  	-webkit-transform: rotate(90deg);
  	/* Opera */
  	-o-transform: rotate(90deg);
  	/* Standard */
  	transform: rotate(90deg);
  }

  .xorm-debugger-title{
      background: #ffff99;
      padding: 3px 3px 3px 20px !important;
  }

  .xorm-debugger-slide{
      background: #fff;
      display: none;
  }

  .xorm-debugger-child{
      padding: 2px 2px 2px 40px !important;
      border-bottom: 1px solid #eee !important;
  }

  .phpdebugbar-panel.phpdebugbar-active .phpdebugbar-widgets-xorm .phpdebugbar-widgets-pretty .xorm-debugger-parent{
      margin-top: 5px !important;
  }

  .xorm-vardump{
      color: #777;
      float: right;
      font-size: 12px;
  }

  .xorm-vardump pre{
      color: #777;
      font-size: 12px;
  }

  .xorm-vardump pre font{
      width: 10px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
      color: red;
  }

  .phpdebugbar-widgets-xorm .calling-file, .phpdebugbar-widgets-messages .calling-file{
      font-size: 11px;
      font-weight: normal;
      color: #777;
      padding: 5px 0;
  }

  .phpdebugbar-widgets-messages .calling-file{
      padding-top: 8px;
      margin-left: 20px;
      display: inline-block;
  }

  .phpdebugbar-widgets-label.phpdebugbar-widgets-execution-source{
      width: 80px;
  }

  .phpdebugbar-widgets-label.phpdebugbar-widgets-execution-memory{
      width: 85px;
  }

  .phpdebugbar-widgets-label.phpdebugbar-widgets-execution-time{
      width: 85px;
  }

  .phpdebugbar-widgets-list-item .xorm-debugger-parent:last-child{
      margin-bottom: 5px;
  }

  div.phpdebugbar ol, div.phpdebugbar ul{
      margin-bottom: 20px !important;
  }

  .xorm-preview{
      margin-left: 30px !important;
      font-size: 11px;
      color: #333;
      transition: all .3s ease;
  }

  .phpdebugbar-widgets-Strict{
      color: #777;
  }

  .phpdebugbar-widgets-Info, .phpdebugbar-widgets-Info + span{
      color: #333 !important;
  }

  .phpdebugbar-widgets-Notice, .phpdebugbar-widgets-Notice + span{
      color: #000066 !important;
  }

  .phpdebugbar-widgets-Warning, .phpdebugbar-widgets-Warning + span{
      /*color: #e59400 !important;*/
      color: #800000 !important;
      /*font-weight: bold !important;*/
  }

  .icon-contain{
      position: relative;
      display: inline-block;
  }

  .icon-contain i{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      line-height: 14px;
      vertical-align: middle;
      font-size: 9px;
  }

  .phpdebugbar-widgets-value.phpdebugbar-widgets-Info:before{
      font-family: PhpDebugbarFontAwesome;
      content: "\f05a";
      margin-right: 8px;
      font-size: 14px;
      vertical-align: top;
  }

  .phpdebugbar-widgets-value.phpdebugbar-widgets-Notice:before{
      font-family: PhpDebugbarFontAwesome;
      content: "\f06a";
      margin-right: 8px;
      font-size: 14px;
      vertical-align: top;
  }

  .phpdebugbar-widgets-value.phpdebugbar-widgets-Warning:before{
      font-family: PhpDebugbarFontAwesome;
      content: "\f071";
      margin-right: 6px !important;
      font-size: 14px !important;
      vertical-align: top !important;
      color: #800000 !important;
  }

  .phpdebugbar-widgets-value.phpdebugbar-widgets-Strict:before{
      font-family: PhpDebugbarFontAwesome;
      content: "\f1db";
      margin-right: 8px;
      font-size: 14px;
      vertical-align: top;
  }
  .phpdebugbar-widgets-value.phpdebugbar-widgets-Strict{
      position: relative;
  }
  .phpdebugbar-widgets-value.phpdebugbar-widgets-Strict:after{
      font-family: PhpDebugbarFontAwesome;
      content: "\f12a";
      margin-right: 8px;
      font-size: 9px;
      line-height: 14px;
      vertical-align: middle;
      position: absolute;
      top: 2px;
      left: 4.5px;
  }

  .phpdebugbar-widgets-xorm .phpdebugbar-widgets-value:before{
      content: '' !important;
      margin-right: 0px !important;
  }

  .phpdebugbar-widgets-error + .phpdebugbar-widgets-label{
      color: red !important;
  }

  .invisible{
      /*display: none;*/
      opacity: 0;
  }

.clear{
    clear: both;
}
