/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext);

html{
    height: 100%;
}

body {
    font-family: Roboto !important;
  margin-top: 50px;
  /*padding-top: 50px;*/
  height: calc(100% - 50px);
  position: relative;
  /*height: 100%;*/
  overflow: hidden;
}

body > .ps-scrollbar-y-rail{
    z-index: 9999;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 70px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.logo{
    display:block;
    position: absolute;
    width:120px;
    height:120px;
    line-height:100px;
    /*border: 1px solid #fff;*/
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #222;
    /*box-shadow: 0 0 3px gray;*/
    font-size:20px;
    font-weight:bold;
    top: -20px;
    left: -16px;
    z-index: 1;
}

.logo img{
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-top: 35px;
}

.navbar-left{
    margin-left: 73px;
}

.navbar-right{
    margin-left: 73px;
}

#user-info, #project-menu{
    margin-top: 10px;
    margin-right: 15px;
}

#user-info span.logged, #project-menu span.logged{
    color: #fff;
    padding: 4px;
    padding-right: 10px;
    display: block;
}

#user-info-more, #project-menu-more{
    padding-left: 50px;
}

#user-pic{
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    background: #428bca;
    /*background: #00FFFF;*/
    top: -8px;
    left: -6px;
    border-radius: 50%;
    border: 1px solid #357ebd;
}

#project-logo{
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    background: #428bca;
    /*background: #00FFFF;*/
    top: -8px;
    left: -6px;
    border-radius: 50%;
    border: 1px solid #357ebd;
    font-size: 28px;
}

#project-menu a i{
    margin-right: 5px;
}

#user-info .dropdown-menu, #project-menu .dropdown-menu{
    right: auto;
    left: 0;
    top: 38px;
}

#project-menu-more .caret{
    margin-left: 5px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: .5;
}

.invisible{
    display: none;
}

.menu-select.last{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

#user-pic i{
    margin-top: 3px;
}

#home-button{
    padding-left: 35px;
}

.right-sidebar{
    position: fixed;
    top: 125px;
    bottom: 0;
    right: 10px;
    z-index: 1000;
    display: block;
    /*padding: 20px;
    padding-top: 70px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #f5f5f5;
    border-left: 1px solid #eee;*/
    padding: 20px 20px 20px 0;
    margin: 0;
}

.title{
    position: fixed;
    top: 50px;
    background: #fff;
    z-index: 1000;
    /*border-bottom: 1px solid #eee;*/
    /*margin: 0 -15px;*/
    padding: 0 20px;
}

.title h1{
    margin-bottom: 0;
    margin-top: 20px;
    /*border-bottom: none;*/
}

.edit-area{
    padding-right: 40px;
}

.main{
    margin-top: 80px;
}

.left-navigation h4{
    margin-top: 0;
}

.custom-container-content{
    display: none;
}

.content-table td{
    vertical-align: middle !important;
}

.title-button-group{
    float: right;
}

.title-button-group a, .title-button-group button{
    margin-bottom: 9px;
    margin-left: 8px;
    position: relative;
    display: inline-block;
    width: 46px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
    line-height: 42px;
    padding: 0;
}

.title-button-group a > i, .title-button-group button > i{
    vertical-align: middle;
    display: inline-block;
}

.title-button-group a sup i, .title-button-group button sup i{
    position: absolute;
    top: -10px;
    right: -15px;

    color: #faae16;
    background: -webkit-linear-gradient(#ffe597, #faae16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 1px #333;
}

.title-button-group .separator{
    display: inline-block;
    height: 42px;
    border-left: 1px solid #ddd;
    margin: 0 8px 0 16px;
    padding: 0;
    vertical-align: top;
}

.not-editable{
    display: none;
}

.aloha-textarea, .aloha-input{
    width: inherit !important;
}

.aloha-textarea.intro{
    min-height: 150px;
}

.aloha-textarea, textarea{
    height: auto !important;
}

.aloha-textarea{
    min-width: 100%;
    min-height: 500px;
}

textarea{
    resize: vertical;
}

label{
    width: 100%;
    margin-top: 25px;
}

.aloha-input{
    height: 34px !important;
}

.aloha-toolbar{
    display: none !important;
}

.edit-tools-toolbar{
    margin: 0 !important;
    padding: 0 !important;
}

.simple-editor{
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

.advanced-editor{
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

.alignment-editor{
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

.hr-holder{
    margin: 0 !important;
    padding: 0 !important;
}

.image-block{
    width: 50%;
    height: 350px;
    /*background: #f5f5f5;*/
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-block .image, .image-block .image .img{
    height: 350px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.info-tab{
    height: 54px;
    line-height: 32px !important;
    vertical-align: middle;
}

.info-tab span{
    line-height: 32px;
    vertical-align: top;
}

.info-tab i{
    padding-top: 4px;
    padding-right: 10px;
}

#current-paragraph .caret{
    float: right;
    margin-top: 8px;
}

#paragraph-type{
    float: left;
}

.aloha-custom-editor p{
    margin-top: 10px;
    margin-bottom: 5px;
}

#insert-span{
    float: left;
}

#insertion .caret{
    float: right;
    margin-top: 8px;
}

.dropdown-insert i, .dropdown-insert b{
    display: inline-block;
    width: 16px;
}

#video-panel-container{
    position: relative;
    min-height: 200px;
}

.video-panel{
    position: absolute;
    width: 100%;
}

.video-panel div{
    margin-top: 20px;
}

.video-panel input{
    width: 568px;
}

.big-button{
    width: 100px;
}

.big-button i{
    font-size: 300%;
}

/* aloha block */

.aloha-block {
    /*background-color: white;*/
    position: relative;
    /*border: 1px solid #CCCCCC;*/
    cursor: default;
    height: 240px;
    /*padding: 5px;*/
    padding: 10px 5px 0 5px;
}

.col-ver-25{ height: 60px; }
.col-ver-50{ height: 120px; }
.col-ver-75{ height: 180px; }
.col-ver-100{ height: 240px; }
.col-ver-125{ height: 300px; }
.col-ver-150{ height: 360px; }
.col-ver-175{ height: 420px; }
.col-ver-200{ height: 480px; }
.col-ver-225{ height: 540px; }
.col-ver-250{ height: 600px; }
.col-ver-275{ height: 660px; }
.col-ver-300{ height: 720px; }

.aloha-block .title{
    display: none !important;
}

.aloha-block .description{
    display: block;
    border: 1px solid #CCCCCC;
    background: #fff;
    padding: 10px;
    /*height: 230px;*/
    height: calc(100% - 10px);
    overflow: hidden;
}

.aloha-block span.image-preview{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/img-preloader.gif) no-repeat center center;
    /*line-height: 1500%;*/
    text-align: center;
}

.aloha-block span.image-preview b{
    display: inline-block;
}

.aloha-block.col-ver-25 span.image-preview b{ margin-top: 0px; }
.aloha-block.col-ver-50 span.image-preview b{ margin-top: 30px; }
.aloha-block.col-ver-75 span.image-preview b{ margin-top: 60px; }
.aloha-block.col-ver-100 span.image-preview b{ margin-top: 90px; }
.aloha-block.col-ver-125 span.image-preview b{ margin-top: 120px; }
.aloha-block.col-ver-150 span.image-preview b{ margin-top: 150px; }
.aloha-block.col-ver-175 span.image-preview b{ margin-top: 180px; }
.aloha-block.col-ver-200 span.image-preview b{ margin-top: 210px; }
.aloha-block.col-ver-225 span.image-preview b{ margin-top: 240px; }
.aloha-block.col-ver-250 span.image-preview b{ margin-top: 270px; }
.aloha-block.col-ver-275 span.image-preview b{ margin-top: 300px; }
.aloha-block.col-ver-300 span.image-preview b{ margin-top: 330px; }

.aloha-block span.image-preview.loaded{
    background-image: none;
    background-size: cover;
}

.aloha-block span.image-preview.loaded b{
    display: none;
}

.aloha-block span.settings{
    display: none;
}

.aloha-block .settings-button{
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    font-size: 30px;
    cursor: pointer;
    opacity: .7;
}

.aloha-block .settings-button:hover{
    /*text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);*/
    opacity: 1;
}

.aloha-block span.title {
    display: block;
    width: 100%;
    height: 20px;
    min-height: 20px;
    overflow: hidden;
    font-weight: bold;
}

.aloha-block span.image {
    display: block;
    width: 100%;
    /*height: 160px;
    min-height: 160px;*/

    height: calc(100% - 40px);
    min-height: calc(100% - 40px);

    /*overflow: hidden;*/
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-size: 100%;*/
}
/*
.description > .aloha-block{
    border: none;
}
*/

.iconblock{
    display: inline-block;
    position: relative;
    border: none;
    padding-top: 0;
    height: auto;
}

.iconblock .aloha-block-handle{
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: none !important;
    border: none !important;
}

.aloha-block-draghandle {
    /*background: url("/admin/theme/js/aloha-1/plugins/common/block/img/toolbar-draghandle.gif") no-repeat scroll 0 0 white;*/
    background-color: #ffffff;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ffffff !important;
    /*display: none;*/
    height: 12px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 24px;
    cursor: move;
    z-index: 5;
}

.aloha-editable-active .aloha-block-active .description{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.aloha-editable-active .aloha-block-active .aloha-block-handle{
    border-color: rgba(82, 168, 236, 0.8);
    border-bottom: none;
}

.aloha-block{
    float: none;
    display: inline-block;
    vertical-align: top;
}

.aloha-block iframe{
    width: 100%;
    height: 100%;
}

.preview_container{
    border: 1px solid #eeeeee;
    height: 120px;
    max-height: 120px;
    padding: 5px;
}

.preview_element{
    vertical-align: bottom;
}

.margin-input{
    font-size: 12px !important;
    height: 18px !important;
    width: 30px;
    margin-bottom: 4px !important;
    padding: 2px !important;
    text-align: center;
    display: inline-block;
}

.iconblock{
    padding: 0 !important;
}

.txt-image-container{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    padding: 0 !important;
}

.aloha-editable > img{
    cursor: default !important;
}

.txt-image-container img{
    width: 100% !important;
    height: 100% !important;
}

.txt-image-container .aloha-block-handle{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}


.ui-resizable-handle{
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border: 1px solid black;

}

.ui-resizable-e{
    right: -3px;
    top: 50%;
    margin-top: -3px;
    cursor: w-resize;
}

.ui-resizable-s{
    left: 50%;
    bottom: -3px;
    margin-left: -3px;
    cursor: n-resize;
}

.ui-resizable-se{
    right: -3px;
    bottom: -3px;
    cursor: nw-resize;
}

.alignment-editor .slider-horizontal{
    width: calc(100% - 20px) !important;
    margin-left: 10px !important;
}

.aloha-block.container{
    background-color: rgba(66, 139, 202, 0.25);
    position: relative;
}

.aloha-block.container.aloha-block-active{
    background-color: rgba(66, 139, 202, 0.5);
}

.aloha-block.container .aloha-block{
    padding: 5px;
    padding-bottom: 0;
}

.aloha-block.container .aloha-block .description{
    height: calc(100% - 5px);
}

.aloha-block.container .aloha-block .aloha-block-draghandle{
    height: 10px;
    top: -4px;
}

.aloha-block.container > .aloha-block-handle.aloha-block-draghandle{
    background: none;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: none !important;
}

.aloha-block.container > .aloha-editable{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.aloha-block.container > .inner-editable{
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #ffffff;
    z-index: 2;
}

.aloha-block.container .col-ver-25{
    height: 25%;
}

.aloha-block.container .col-ver-50{
    height: 50%;
}

.aloha-block.container .col-ver-75{
    height: 75%;
}

.aloha-block.container .col-ver-100{
    height: 100%;
}

.aloha-block.container .col-ver-125{
    height: 125%;
}

.aloha-block.container .col-ver-150{
    height: 150%;
}

.aloha-block.container .col-ver-175{
    height: 175%;
}

.aloha-block.container .col-ver-200{
    height: 200%;
}

.aloha-block.container .col-ver-225{
    height: 225%;
}

.aloha-block.container .col-ver-250{
    height: 250%;
}

.aloha-block.container .col-ver-275{
    height: 275%;
}

.aloha-block.container .col-ver-300{
    height: 300%;
}

.aloha-block.container .alohablock{
    max-height: 100%;
}

.aloha-block.container.col-ver-50 .col-ver-25{
    height: calc(100% / 2);
}

.aloha-block.container.col-ver-50 .col-ver-25{
    height: calc(100% / 2);
}

.aloha-block.container.col-ver-75 .col-ver-25{
    height: calc(100% / 3);
}

.aloha-block.container.col-ver-75 .col-ver-50{
    height: calc(100% / 3 * 2);
}

.aloha-block.container.col-ver-100 .col-ver-25{
    height: calc(100% / 4);
}

.aloha-block.container.col-ver-100 .col-ver-50{
    height: calc(100% / 2);
}

.aloha-block.container.col-ver-100 .col-ver-75{
    height: calc(100% / 4 * 3);
}

.aloha-block.container.col-ver-125 .col-ver-25{
    height: calc(100% / 5);
}

.aloha-block.container.col-ver-125 .col-ver-50{
    height: calc(100% / 5 * 2);
}

.aloha-block.container.col-ver-125 .col-ver-75{
    height: calc(100% / 5 * 3);
}

.aloha-block.container.col-ver-125 .col-ver-100{
    height: calc(100% / 5 * 4);
}

.aloha-block.container.col-ver-150 .col-ver-25{
    height: calc(100% / 6);
}

.aloha-block.container.col-ver-150 .col-ver-50{
    height: calc(100% / 6 * 2);
}

.aloha-block.container.col-ver-150 .col-ver-75{
    height: calc(100% / 6 * 3);
}

.aloha-block.container.col-ver-150 .col-ver-100{
    height: calc(100% / 6 * 4);
}

.aloha-block.container.col-ver-150 .col-ver-125{
    height: calc(100% / 6 * 5);
}

.aloha-block.container.col-ver-175 .col-ver-25{
    height: calc(100% / 7);
}

.aloha-block.container.col-ver-175 .col-ver-50{
    height: calc(100% / 7 * 2);
}

.aloha-block.container.col-ver-175 .col-ver-75{
    height: calc(100% / 7 * 3);
}

.aloha-block.container.col-ver-175 .col-ver-100{
    height: calc(100% / 7 * 4);
}

.aloha-block.container.col-ver-175 .col-ver-125{
    height: calc(100% / 7 * 5);
}

.aloha-block.container.col-ver-175 .col-ver-150{
    height: calc(100% / 7 * 6);
}

.aloha-block.container.col-ver-200 .col-ver-25{
    height: calc(100% / 8);
}

.aloha-block.container.col-ver-200 .col-ver-50{
    height: calc(100% / 8 * 2);
}

.aloha-block.container.col-ver-200 .col-ver-75{
    height: calc(100% / 8 * 3);
}

.aloha-block.container.col-ver-200 .col-ver-100{
    height: calc(100% / 8 * 4);
}

.aloha-block.container.col-ver-200 .col-ver-125{
    height: calc(100% / 8 * 5);
}

.aloha-block.container.col-ver-200 .col-ver-150{
    height: calc(100% / 8 * 6);
}

.aloha-block.container.col-ver-200 .col-ver-175{
    height: calc(100% / 8 * 7);
}

.aloha-block.container.col-ver-225 .col-ver-25{
    height: calc(100% / 9);
}

.aloha-block.container.col-ver-225 .col-ver-50{
    height: calc(100% / 9 * 2);
}

.aloha-block.container.col-ver-225 .col-ver-75{
    height: calc(100% / 9 * 3);
}

.aloha-block.container.col-ver-225 .col-ver-100{
    height: calc(100% / 9 * 4);
}

.aloha-block.container.col-ver-225 .col-ver-125{
    height: calc(100% / 9 * 5);
}

.aloha-block.container.col-ver-225 .col-ver-150{
    height: calc(100% / 9 * 6);
}

.aloha-block.container.col-ver-225 .col-ver-175{
    height: calc(100% / 9 * 7);
}

.aloha-block.container.col-ver-225 .col-ver-200{
    height: calc(100% / 9 * 8);
}

.aloha-block.container.col-ver-250 .col-ver-25{
    height: calc(100% / 10);
}

.aloha-block.container.col-ver-250 .col-ver-50{
    height: calc(100% / 10 * 2);
}

.aloha-block.container.col-ver-250 .col-ver-75{
    height: calc(100% / 10 * 3);
}

.aloha-block.container.col-ver-250 .col-ver-100{
    height: calc(100% / 10 * 4);
}

.aloha-block.container.col-ver-250 .col-ver-125{
    height: calc(100% / 10 * 5);
}

.aloha-block.container.col-ver-250 .col-ver-150{
    height: calc(100% / 10 * 6);
}

.aloha-block.container.col-ver-250 .col-ver-175{
    height: calc(100% / 10 * 7);
}

.aloha-block.container.col-ver-250 .col-ver-200{
    height: calc(100% / 10 * 8);
}

.aloha-block.container.col-ver-250 .col-ver-225{
    height: calc(100% / 10 * 9);
}

.aloha-block.container.col-ver-275 .col-ver-25{
    height: calc(100% / 11);
}

.aloha-block.container.col-ver-275 .col-ver-50{
    height: calc(100% / 11 * 2);
}

.aloha-block.container.col-ver-275 .col-ver-75{
    height: calc(100% / 11 * 3);
}

.aloha-block.container.col-ver-275 .col-ver-100{
    height: calc(100% / 11 * 4);
}

.aloha-block.container.col-ver-275 .col-ver-125{
    height: calc(100% / 11 * 5);
}

.aloha-block.container.col-ver-275 .col-ver-150{
    height: calc(100% / 11 * 6);
}

.aloha-block.container.col-ver-275 .col-ver-175{
    height: calc(100% / 11 * 7);
}

.aloha-block.container.col-ver-275 .col-ver-200{
    height: calc(100% / 11 * 8);
}

.aloha-block.container.col-ver-275 .col-ver-225{
    height: calc(100% / 11 * 9);
}

.aloha-block.container.col-ver-275 .col-ver-250{
    height: calc(100% / 11 * 10);
}

.aloha-block.container.col-ver-300 .col-ver-25{
    height: calc(100% / 12);
}

.aloha-block.container.col-ver-300 .col-ver-50{
    height: calc(100% / 12 * 2);
}

.aloha-block.container.col-ver-300 .col-ver-75{
    height: calc(100% / 12 * 3);
}

.aloha-block.container.col-ver-300 .col-ver-100{
    height: calc(100% / 12 * 4);
}

.aloha-block.container.col-ver-300 .col-ver-125{
    height: calc(100% / 12 * 5);
}

.aloha-block.container.col-ver-300 .col-ver-150{
    height: calc(100% / 12 * 6);
}

.aloha-block.container.col-ver-300 .col-ver-175{
    height: calc(100% / 12 * 7);
}

.aloha-block.container.col-ver-300 .col-ver-200{
    height: calc(100% / 12 * 8);
}

.aloha-block.container.col-ver-300 .col-ver-225{
    height: calc(100% / 12 * 9);
}

.aloha-block.container.col-ver-300 .col-ver-250{
    height: calc(100% / 12 * 10);
}

.aloha-block.container.col-ver-300 .col-ver-275{
    height: calc(100% / 12 * 11);
}


.video-panel.in{
    z-index: 1;
}

.video-js{
    overflow: hidden !important;
}

iframe body{
    overflow: hidden;
}

.aloha-link-pointer .alohablock .link{
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    cursor: pointer;
}

.clear{
    clear: both;
}

iframe{
    border: none;
    padding: 0;
    margin: 0;
}

.save_preloader{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/save_preloader.gif) no-repeat;
}

.iconset-select{
    width: 200px;
}

.upload-frame{
    width: 100%;
    height: 150px;
    border: 5px dashed #428bca;
    color: #428bca;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
}

#insert_youtube_video, #insert_vimeo_video{
    float: right;
}

.alohablock > .description > .imageblock{
    width: 50% !important;
    height: 50% !important;
    padding: 0 !important;
}

.alohablock > .description > .imageblock .image-preview{
    background-size: contain;
}

.alohablock > .description > .imageblock > .aloha-block-draghandle{
    display: none !important;
}

.alohablock > .description > .imageblock .description{
    padding: 0;
    border: none;
}

.alohablock > .description > .imageblock .settings-button{
    display: none;
}

.navbar-inverse {
  background-color: #222 !important;
  border-color: #080808 !important;
}

.navbar-inverse .navbar-left li a{
    color: #777;
}

.item-1{
    background: #333; width: 50%;
}

.item-2{
    background: #222; width: 50%;
}
/*
.grid-stack-item{
    padding: 20px;
}
*/
.chart-wrapper{
    margin: 20px;
}

.chart-wrapper .ui-resizable-handle{
    display: none !important;
}

.ui-icon-gripsmall-diagonal-se, .grid-stack-item .ui-icon-gripsmall-diagonal-se, .grid-stack-item:hover .ui-icon-gripsmall-diagonal-se{
    display: none !important;
}

.grid-stack-placeholder{
    margin-top: 20px;
}

.chart-title{
    cursor: move;
}

.widget{
    margin: 0 !important;
    border: none !important;
}

.full-chart{
    width: 100% !important;
    height: 100% !important;
}

/*
.grid-stack-placeholder{
    background: #000 !important;
    border: none;
    width: 50%;
}
*/

.tree-table{
    margin-bottom: 0;
}

.jstree-wholerow{
    padding: 8px;
    line-height: 50px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.jstree-default .jstree-wholerow{
    height: 50px;
}

.jstree-default .jstree-anchor {
    line-height: 50px;
    height: 50px;
    width: calc(100% - 24px);
}

.jstree-default .jstree-icon:empty{
    display: inline-block;
    vertical-align: middle;
}

.jstree-default .jstree-node{
    min-height: 50px;
    line-height: 50px;
}

.fa.jstree-themeicon-custom{
    margin-right: 18px;
}

.jstree-default .jstree-wholerow-clicked{
    background: none;
    box-shadow: inset 0px 0px 10px rgba(66,139,202,0.25);
}

.jstree-default .jstree-wholerow-clicked:hover{
    background-color: #f5f5f5;
}

.jstree-default .jstree-wholerow-hovered{
    background-color: #f5f5f5;
}

.jstree-anchor .actions{
    float: right;
}

.jstree-anchor .fa-pencil{
    opacity: 0;
    transition: all .25s ease;
    padding-left: 15px;
}

.jstree-anchor:hover .fa-pencil{
    opacity: .65;
}

.jstree-node .branch-title-edit:hover{
    opacity: 1;
}

.jstree-node .branch-title:hover + .branch-title-edit{
    opacity: 1;
}

.jstree-node.editing > .jstree-anchor > .branch-title, .jstree-node.editing > jstree-anchor > .branch-title-edit{
    display: none;
}

.jstree-node{
    position: relative;
}

/*.branch-title input{*/
.jstree-node input{
    height: 26px;
    width: 300px;
    line-height: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 4px;
}

.jstree-node .title-edit{
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 15;
}

.jstree-node .title-edit i{
    cursor: pointer;
    transition: all .35s ease;
}

.jstree-node .title-edit .fa-save{
    margin-left: 15px;
}

.jstree-node .title-edit .fa-save:hover{
    color: green;
}

.jstree-node .title-edit .fa-remove{
    margin-left: 10px;
}

.jstree-node .title-edit .fa-remove:hover{
    color: red;
}

#jstree-dnd i, #jstree-dnd a, #jstree-dnd button, #jstree-dnd .fa-pencil{
    display: none;
}

#vakata-dnd{
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.ps-scrollbar-y-rail{
    /*top: 79px !important;
    height: calc(100% - 69px) !important;*/
}

#main-content-view{
    position: relative;
    /*padding-top: 5px;*/
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#content-display{
    height: calc(100% - 90px);
    padding-top: 15px;
    margin-top: 80px;
    margin-bottom: 10px;
    /*padding-left: 5px;
    padding-right: 5px;*/
}

.tabs-left-container{
    position: relative;
    margin-top: 30px;
}

.tabs-left-fixed{
    position: fixed;
}

.height-100{
    height: 100%;
}

.modal.full-screen .modal-dialog{
    width: 98%;
    height: calc(96% + 9px);
    margin-bottom: 0;
}

.modal.full-screen .modal-content{
    height: calc(96% + 9px);
}

.modal.full-screen .modal-body{
    height: 86%;
}

.layout-editor .content{
    border: 1px solid red !important;
    min-height: 500px !important;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='200px' width='320px'><text x='0' y='40' fill='#afd5ea' font-size='50' font-family='Roboto' text-align='center'>Page Content</text></svg>");
    background-repeat: no-repeat;
    background-position: center center;
}

.layout-editor .navigation{
    border: 1px solid red !important;
    min-height: 100px !important;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='240px'><text x='0' y='75' fill='#afd5ea' font-size='30' font-family='Roboto' text-align='center'>Page Navigation</text></svg>");
    background-repeat: no-repeat;
    background-position: center center;
}

.layout-editor{
    overflow-y: auto;
    max-height: 774px;
}

.layout-editor .content .ge-add-row, .layout-editor .navigation .ge-add-row{
    display: none !important;
}

.content-dropdown{
    /*position: static;*/
}

.content-icon-container{
    padding: 5px;
}

.content-icon-container a{
    padding: 0 !important;
}

.content-icon{
    display: inline-block;
    width: 100%;
    border: 1px dotted #666;
    padding: 5px;
    height: 32px;
}

.content-icon .content-area{
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: #666;
}

.content-icon .content-area-sidebar{
    display: inline-block;
    width: 70%;
    height: 20px;
    background-color: #666;
}

.content-icon .sidebar-area{
    display: inline-block;
    width: 30%;
    height: 20px;
    border: 1px #666 solid;
}

.ge-content-type-aloha{
    border: 1px dashed #777;
    min-height: 22px;
}

.ge-addRowGroup .btn{
    border-radius: 0 !important;
}

.ge-addRowGroup .btn:first-child{
    margin-left: -1px;
    border-top-left-radius: 4px !important;
}

.ge-addRowGroup .btn:last-child{
    border-bottom-right-radius: 4px !important;
}

.ge-addRowGroup .btn:nth-child(2){
    border-top-right-radius: 4px !important;
}

.ge-addRowGroup .btn:nth-last-child(2){
    border-bottom-left-radius: 4px !important;
}

.modal-over{
    background-color: rgba(0,0,0,.3);
}

.layout-select, #blockSelection + .select2{
    width: 100% !important;
    font-size: 12px;
    margin-bottom: 8px;
}

.btn-create-block{
    width: 100%;
}

* :focus{
    outline: none !important;
}
